<style>

#add_article {
    height: 100%;
}

#add_article_form {
    height: 100%;
    // background-color: green;
}

#article_title {
    margin: 0 auto;
    width: 800px;
    height: 40px;
}
#article_source {
    margin: 0 auto;
    width: 800px;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#article_title span, #article_category span {
    height: 100%;
    line-height: 40px;
    display: inline-block;
}
#article_title input, #article_source input {
    height: 40px;
    width: 440px;
    padding-left: 6px;
    font-size: 14px;
    border: 1px solid #ddd;
    margin-left: 5px;
}
#article_category {
    margin: 0 auto;
    width: 800px;
    height: 40px;
    // background-color: red;
}
#article_category select {
    height: 36px;
    width: 450px;
    padding-left: 6px;
    font-size: 14px;
    border: 1px solid #ddd;
    margin-left: 5px;
}
#article_content {
    margin: 0 auto;
    margin-top: 10px;
    width: 800px;
    height: 400px; 
}

#article_content #editer {
    // background-color: red;
    margin-left: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    height: 98%;
    width: 640px;
}
#article_content span {
    // background-color: orange;
    height: 100px;
    float: left;
    line-height: 100px;
}
#article_content #editer #container {
    display: inline-block;
}
#submit {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    height: 40px; 
    // background: red;
    margin-bottom: 30px;
}
#submit p {
    width: 200px;
    font-size: 16px;
    background: #FFA000;
    color: white;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;  
}

#upload_list {
    // background-color: green;
    margin: 0 auto;
    width: 800px;
    height: 300px;
}
#upload_list span {
    margin-left: -48px;
    display: inline-block;
    float: left;
}
#placeholder_upload {
    width: 600px;
    height: 100%;
    // background-color: red;
    border: 1.5px solid #ddd;
    display: inline-block;
    margin-left: 8px;
}
#placeholder_upload #upload_img {
    width: 96%;
    height: 92%;
    margin-left: 2%;
    margin-top: 2%;
    // background-color: red;
    border: 3px dashed #ddd;
    display: inline-block;
    text-align: center;
}
.add_img{
	width: 100%;
	height: 40px; 
	opacity: 0;
    background-color:green;
    margin-top: -30px;
    float: left;
}
#placeholder_upload #upload_img_list {
    width: 96%;
    height: 92%;
    margin-left: 2%;
    margin-top: 2%;
    // background-color: red;
    border: 3px dashed #ddd;
    display: inline-block;
}
#placeholder_upload #upload_img_list #img_content {
    width: 96%;
    height: 72%;
    margin-left: 2%;
    margin-top: 2%;
    // background-color: green;
    display: inline-block;
}

#placeholder_upload #upload_img_list #img_bottom {
    width: 96%;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    // background-color: blue;
    display: inline-block;
}
.delete_img {
    background:url(./images/delete_upload_img.png) no-repeat -48px 0px;
    width:20px;
    height: 20px;
    position:absolute;
    // float: right;
}
</style>