<div id='add_article'>
	<h1>添加文章</h1>

	<form>
		<div id='article_title'>
			<span>文章标题: </span>
			<input type="text" placeholder="请输入文章标题"></input>
		</div>
		<div id='article_content'>
			<span>文章内容: </span>
			<textarea rows="6" cols="20">在w3school，你可以找到你所需要的所有的网站建设教程。
			</textarea>
		</div>
	</form>

<div>