<style>

#index_content {
    padding-top: 80px;
    margin-left: 120px;
    height: 520px;
}

#index_content #intro {
    margin: 0 auto;
    margin-top: 60px;
    width: 800px;
    height: 80%;
    // background-color: red;
    border: 1px solid #ddd;
    text-align: center;
}

</style>
