<style>

#index_content {
    padding-top: 80px;
    margin-left: 120px;
    height: 520px;
}
#add_article {
    // background-color: red;
    height: 100%;
}
#article_title {
    margin: 0 auto;
    width: 500px;
    height: 40px;
}
#article_content {
    margin: 0 auto;
    margin-top: 10px;
    width: 500px;
    height: 100px; 
}
#article_title input {
    height: 40px;
    width: 380px;
    padding-left: 6px;
    font-size: 14px;
    border: 1px solid #ddd;
    margin-left: 5px;
}
#article_title span {
    height: 100%;
    display: inline-block;
}
#article_content textarea {
    margin-left: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    height: 100%;
    padding-left: 6px;
    font-size: 14px;
    width: 380px;
}
#article_content span {
    // background-color: orange;
    height: 100px;
    float: left;
    line-height: 100px;
}

#submit {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    height: 40px; 
    // background: red;
}
#submit p {
    width: 200px;
    font-size: 16px;
    background: #FFA000;
    color: white;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;  
}

</style>
