
<!-- 右侧文章详情样式 -->
{{> detail_style}}

<div id='detail_article'>
	<h1>文章详情</h1>
	<table>
		<tr style="height: 40px;">
			<td style="width:70%;"><span>文章标题: </span>{{title}}</td>
			<td sytle="width:30%;"><span>创建时间: </span>{{createtime}}</td>
		</tr>
		<tr style="height: 400px;"><td colspan="2" valign="top" style="text-align:left;"><div id="content">{{content}}</div></td></tr>
	</table>
<div>

<script>

$(function(){
	
})
</script>