<style>

#detail_article {
    // background-color: red;
    height: 100%;
}

#detail_article table {
    // background-color: green;
    border-collapse: collapse;
	border: 1px solid #ddd;
	width: 90%;
    text-align: center;
    margin: 0 auto;
    // table-layout: fixed;
}
#detail_article table #content {
    margin-top: 1px;
    float: left;
}
#detail_article table td {
	border: 1px solid #ddd;
}


</style>