
<!-- 右侧编辑文章样式 -->
{{> add_style}}


<!-- 配置文件 -->
<script type="text/javascript" src="ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="lang/zh-cn/zh-cn.js"></script>



<div id='add_article'>
	<h1>修改文章</h1>

	<form id='add_article_form'>
		<input type="hidden" name="id" value="{{id}}" />
		<div id='article_title'>
			<span>文章标题: </span>
			<input type="text" name="title" placeholder="请输入文章标题" value="{{title}}"></input>
		</div>
		<div id='article_source'>
			<span>文章来源: </span>
			<input type="text" name="source" placeholder="请输入文章来源" value="{{source}}"></input>
		</div>
		<div id='article_category'>
			<span>文章分类: </span>
			<select name="type" defselect="{{type}}">
				<option value="0">请选择</option>
			</select>
		</div>
		<div id='article_content'>
			<span>文章内容: </span>
			<div class="clear"></div> 
			<div id="editer">
				<!-- 加载编辑器的容器 -->
				<script id="container" name="content" type="text/plain" style="width:640px;height:240px;">
					{{{content}}}
				</script>
			</div>
		
		</div>
		<div id='submit'>
			<p id='submit_btn'>提交<p>
		</div>
	</form>
<div>

<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('container', {
		initialFrameWidth :640,//设置编辑器宽度
		initialFrameHeight:240,//设置编辑器高度
		scaleEnabled:true
	});  
	$(function(){
 
	})

 </script>

<script>

$(function(){

	// 请求分类
	$.ajax({  
			url:'/category_article_action',  
			type:'get',  
			dataType:'json',  
			success:function(res) {
				$.each(res.data,function(k,v){
					var def_select = parseInt($("#article_category select").attr("defselect"))
					var eq_select = (def_select == v.type)
					var option = '<option ' +(eq_select ? 'selected="selected"' : '')+ ' value="'+v.type+'">'+v.title+'</option>'
					$("#article_category select").append(option)
				})
			},  
			error:function() {  
				alert("异常！");  
			}  
		});

	$('#submit_btn').on('click', function(){

		var data = $('#add_article_form').serialize()
		var datas = $('#add_article_form').serializeArray()
		var isNull = false
		$.each(datas, function(k,v){
			if(!v.value) {
				alert(v.name + "不能为空")
				isNull = true
			}
		})
		if (isNull) return
		$.ajax( {  
			url:'/edit_article_action',
			data:data,  
			type:'post',  
			dataType:'json',  
			success:function(data) {
				if (data.result == 'success') {
					alert('修改成功')
				} else {
					alert('修改失败')
				}
			},  
			error:function() {  
				alert("异常！");  
			}  
		});
	})
})
</script>