
<!-- 右侧编辑文章样式 -->
{{> add_style}}


<!-- 配置文件 -->
<script type="text/javascript" src="js/lib/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="js/lib/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<script type="text/javascript" src="js/edit_article.js"></script>



<div id='add_article'>
	<h1>修改文章</h1>
	<form id='add_article_form'>
		<input type="hidden" name="id" value="{{id}}" />
		<div id='article_title'>
			<span>文章标题: </span>
			<input type="text" name="title" placeholder="请输入文章标题" value="{{title}}"></input>
		</div>
		<div id='article_source'>
			<span>文章来源: </span>
			<input type="text" name="source" placeholder="请输入文章来源" value="{{source}}"></input>
		</div>
		<div id='article_category'>
			<span>文章分类: </span>
			<select name="type" defselect="{{type}}">
				<option value="0">请选择</option>
			</select>
		</div>
		<div id="upload_list">
			<span>上传文章简要图: </span>
			<div id="placeholder_upload">
				<div id="upload_img">
					<img style="margin-top:100px;" src="./images/upload_place_img.png" />
					<p style="background-color:#ffa100;color:#fff;width:160px;height:20px;text-align:center;padding-top:10px;padding-bottom:10px;margin:0 auto;border-radius:5px;">
					选择图片
					<input type="file" accept="image/png,image/gif,image/jpg" name="article_thumbnail" class="add_img" onchange="add_imgs_action(event)" />
					</p>
			
				</div>
				<div id="upload_img_list">
					<div id="img_content">
						{{#thumbnails}}
						<span style="width:96px;height:100px;margin:5px;position:relative;">
							<img style="width:100%;height:100%;position:absolute;" src={{imgUrl}} />
							<p class="delete_img"></p>
						</span>
						{{/thumbnails}}
					</div>
					<div id="img_bottom">
					<p style="float:left;margin-left:80px;background-color:#ffa100;color:#fff;width:160px;height:20px;text-align:center;padding-top:10px;padding-bottom:10px;border-radius:5px;">
					选择图片
					<input type="file" accept="image/png,image/gif,image/jpg" name="article_thumbnail" class="add_img" onchange="add_imgs_action(event)" />
					</p>
					<p id="upload_img_action" style="float:right;margin-right:80px;background-color:#ffa100;color:#fff;width:160px;height:20px;padding-top:10px;padding-bottom:10px;text-align:center;border-radius:5px;">
					上传图片
					</p>
					</div>
				</div>
			</div>
		</div>
		<div id='article_content'>
			<span>文章内容: </span>
			<div class="clear"></div> 
			<div id="editer">
				<!-- 加载编辑器的容器 -->
				<script id="container" name="content" type="text/plain" style="width:640px;height:240px;">
					{{{content}}}
				</script>
			</div>
		
		</div>
		<div id='submit'>
			<p id='submit_btn'>提交<p>
		</div>
	</form>
<div>

<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('container', {
		initialFrameWidth :640,//设置编辑器宽度
		initialFrameHeight:240,//设置编辑器高度
		scaleEnabled:true
	});  
 </script>
