<!doctype html>
<head>
<meta charset="utf-8">

<title>Today News Admin</title>
	<!-- 全局样式 -->	
	{{> style}}
	<!-- 头部样式 -->
	{{> header_style}}
	<!-- 左侧菜单样式 -->
	{{> left_style}}

<script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>		

</head>
<body>

	<!-- 头部 -->
	{{> header}}
	<!-- 左边菜单 -->
	{{> left}}
	<!-- 右边内容 -->
	{{> content}}  

</body>

<script>

$(function(){

	$('#left .main_menu').on('click', function(){
		
		if($(this).next('.sub_menu').hasClass('left_menu_show')){
			$(this).next('.sub_menu').slideUp("normal",function(){
				$(this).removeClass('left_menu_show').addClass('left_menu_hide')
		    });	
		} else {	
			$(this).next('.sub_menu').slideDown("normal",function(){
				$(this).removeClass('left_menu_hide').addClass('left_menu_show')
		    });		
		}
	})


})

</script>

</html>
