
<div id="left">
	<!-- 竖线 -->
	<div></div>
	<!-- 左侧菜单列表 -->
	<ul>
		<li><a class='main_menu'>首页</a>
		<!-- 左侧菜单子列表 -->
		<ul class='sub_menu left_menu_hide'>
			<li><a>首页1</a></li>
			<li><a>首页2</a></li>
			<li><a>首页3</a></li>
		</ul>
		</li>
		<li><a>测试</a></li>
	</ul>
	
</div>

