
<div id="left">
	<!-- 竖线 -->
	<div></div>
	<!-- 左侧菜单列表 -->
	<ul>
		<li><a class='main_menu'>首页</a>
		<!-- 左侧菜单子列表 -->
		<ul class='sub_menu left_menu_hide'>
			<li><a jump='/add_article'>添加文章</a></li>
			<li><a jump='/delete_article'>删除文章</a></li>
			<li><a jump='/look_article'>查看文章</a></li>
		</ul>
		</li>
		<li><a>测试1</a></li>
		<li><a>测试2</a></li>
		<li><a>测试3</a></li>
		<li><a>测试4</a></li>
	</ul>
	
</div>

<script>

	$(function(){
		$('.sub_menu a').on('click', function(){
			$("#index_content").load($(this).attr('jump'));
		})
	})
</script>

