<style>

	a {
		text-decoration: none;
	}
	a:link,a:visited{color: white;}
	a:hover{color: white;}
	#left {
		height: 100%;
		width: 120px;
		background-color: white;
		color: white;
		text-align: center;
		display: inline-block;
		position: fixed;
		margin-top: 80px;
	}

	#left div {
		height: 100%;
		width: 4px;
		background: black;
		display: inline-block;
 		position:absolute;
  		left: 116px;
	}

	#left ul li {
		background: black;
		line-height: 40px;
		font-size: 15px;
		list-style-type: none;
		margin: 1px 0px 1px;
	}

	#left ul li a {
		line-height: 40px;
		font-size: 15px;
		cursor: pointer;
	}
	.main_menu {

	}
	.sub_menu {
		width: 100%;
		display: inline-block;
	}
	.left_menu_show {
		display: inline-block;
	} 

	.left_menu_hide {
		display: none;
	}
</style>
