<style>

	#left {
		height: 100%;
		width: 80px;
		background-color: white;
		color: white;
		text-align: center;
		display: inline-block;
		position: fixed;
	}

	#left div {
		height: 100%;
		width: 3px;
		background: black;
		display: inline-block;
 		position:absolute;
  		left: 77px;
	}

	#left ul li {
		background: black;
		line-height: 40px;
		font-size: 15px;
		list-style-type: none;
		margin: 5px 0px 5px;
	}

	#left ul li a {
		line-height: 40px;
		font-size: 15px;
	}


</style>
