
<!-- 查看文章样式 -->	
{{> look_style}}

<div id="look_article">
	<h1>查看文章</h1>

	<div id="look_container">
		<table>
			<tr>
				<th style="width: 11%">创建时间</th>
				<th style="width: 23%">文章标题</th>
				<th style="width: 50%">文章内容</th>
				<th style="width: 7%"> 文章分类</th>
				<th style="width: 8%">操作</th>
			</tr>
			{{#articles}}
				<tr>
					<td><div style="font-size:12px;">{{createtime}}</div></td>
					<td><div>{{title}}</div></td>
					<td><div>{{content}}</div></td>
					<td><div>{{category}}</div></td>
					<td><span id="look" jump="/detail_article/{{id}}">查看</span>&nbsp;&nbsp;<span id="edit" jump="/edit_article/{{id}}">编辑</span></td>
				</tr>
			{{/articles}}
		</table>
	</div>

<div>

<script>
$(function(){
	// console.log($("#look_container tr:gt(0) td:nth-child(3)"))
	$.each($("#look_container tr:gt(0) td:nth-child(3) div"), function(){
		$(this).html($(this).text())
	})

	// 查看
	$("#look_container #look").on('click', function(){
		// alert('查看')
		$("#index_content").load($(this).attr('jump'));
	})
	// 编辑
	$("#look_container #edit").on('click', function(){
		$("#index_content").load($(this).attr('jump'));
	})
})
</script>