
<!-- 查看文章样式 -->	
{{> look_style}}

<!-- 分页插件 -->	
<script type="text/javascript" src="js/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="js/look_article.js"></script>

<div id="look_article">
	<h1>查看文章</h1>

	<div id="look_container">
		<input type="hidden" id="article_total" value="{{total}}" jump="/article/look/{{page}}" />
		<table>
			<tr>
				<th style="width: 11%">创建时间</th>
				<th style="width: 23%">文章标题</th>
				<th style="width: 50%">文章内容</th>
				<th style="width: 7%"> 文章分类</th>
				<th style="width: 8%">操作</th>
			</tr>
			{{#articles}}
				<tr class="content_tr">
					<td><div style="font-size:12px;">{{createtime}}</div></td>
					<td><div>{{title}}</div></td>
					<td><div>{{content}}</div></td>
					<td><div>{{category}}</div></td>
					<td><span style="font-size:14px;" id="look" jump="/article/detail/{{id}}">查看</span>&nbsp;&nbsp;
					<span style="font-size:14px;" id="edit" jump="/article/edit/{{id}}">编辑</span></td>
				</tr>
			{{/articles}}
		</table>
	</div>
	<div id="page"></div>
<div>
