<style>

#look_article {
    // background-color: red;
    height: 100%;
}
#look_container {
    margin: 0 auto;
    width: 1100px;
    height: 40px;
}

#look_container table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 98%;
	text-align: center;
	table-layout: fixed;
	margin-bottom: 30px;
}

#look_container table tr {
	height: 50px;
}
#look_container table td {
	border: 1px solid #ddd;
	height: 50px;
}
#look_container table td div {
	height: 50px;
	word-wrap:break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
}
#look_container table th {
	border: 1px solid #ddd;
}
</style>