<style>

	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	body {
		padding: 0;
		margin: 0;
		font-family: "Helvetica"
	}

	#content {
		padding: 20px;
	}

	a {
		text-decoration: none;
	}

	a:visited, a:link {
		color: orange
	}
</style>
